
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;

}
section{
    background-color: #fff;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    border-radius: 6px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);


}
label{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.input{
    width: 308px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 25px;

}
.qr_code{
    padding: 25px ;
    width: fit-content;
    display: none;



}